body {
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 1.2em;
  color: #FB0B04;
  margin: 5% 0 0 5%;
}

p {
  color: white;
  font-size: 1.1em;
  margin-top: 5%;
}

.btn-icon {
  width: 20%;
  margin-right: 4.3%;
}

.btns {
  display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

button {
  background-color:#3BBBB8;
  border: 3px solid #212121;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  color: white;
  width: 45%;
  padding: 2%;
  margin-bottom: 2%;

}

button:hover {
  background-color: #FB0B04;
  color: #fff;
}

.intro {
  font-size: 1em;
  font-family: 'Roboto Slab', serif;
  color: #fff;
  margin-left: 5%;
  margin-top: 3%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
}

.box {
  width: 46%;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
}

.img {
  display: none;
}

.info-image {
  width: 100%;
  background-color: #28272F;
  text-align: center;
}

.mobile-hero {
  width: 100%;
}

.one {
  background-color: #28272F;
  width: 100%;
}

.two {
  background-color: #D2DBDE;
}

.three {
  background-color: #B2B9BE;
}

.four {
  background-color: #3BBBB8;
}

.five {
  background-color: #28272F;
}

.six {
  background-color: #28272F;
}

.seven {
  background-color: #D2DBDE;
}

.eight {
  background-color: #3BBBB8;
  width: 100%;
}

.icon {
  width: 25%;
}

@media screen and (min-width: 550px)  {
  #wrapper {
    display: flex;
    flex-wrap: wrap;

    }

  .info-image {
    display: none;
  }

  .container {
    width: 65%;
  }

  .box {
    width: 29.333%;
  }

  .img {
    width: 35%;
    /*background-image: url('images/kanye1.jpg');*/
    background: url('images/kanye1.jpg') center top no-repeat;
    right: 0;
    height: 100vh;
    display: block;
  }

  .info {
    width: 66.667%;
  }

  .icon {
    width: 55%;
  }

  .icon:hover {
    width: 60%;

  }

  .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66.66%;
  }

  .hero {
    height: 100vh;
  }
}
