h1 {
  display: inline;
  margin: 0;
  position: relative;
  color: rgba(255,0,0,0.5);
  font: 200px Helvetica, Sans-Serif;
  letter-spacing: -5px;
}

/* adding content to css makes it so it won't be read by screenreaders */
h1:after {
  left: 10px;
  position: absolute;
  top: -5px;
  color: rgba(0,255,255,0.5);
  content: attr(data-content);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#input-field {
  height: 27px;
  padding: 6px;
  font-size: 15px;
}

#submit-btn {
  padding: 10px;
  background-color: rgba(0,255,255,0.5);
  border-radius: 3px;
  text-transform: uppercase;
}

#submit-btn:hover {
  background-color: rgba(255,0,0,0.5);
}
