h1 {
  display: inline;
  position: relative;
  color: rgba(255,0,0,0.5);
  font: 200px Helvetica, Sans-Serif;
  letter-spacing: -5px;
}

/* adding content to css makes it so it won't be read by screenreaders */
h1:after {
  left: 10px;
  position: absolute;
  top: -5px;
  color: rgba(0,255,255,0.5);
  content: 'Marissa';
}
